// src/styles/_responsive.scss

$bp-sm: 640px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1280px;

@mixin down-sm {
  @media (max-width: #{$bp-sm - 1}) {
    @content;
  }
}

@mixin down-md {
  @media (max-width: #{$bp-md - 1}) {
    @content;
  }
}

@mixin up-md {
  @media (min-width: $bp-md) {
    @content;
  }
}

@mixin up-lg {
  @media (min-width: $bp-lg) {
    @content;
  }
}