@use "./../../styles/variables" as *;
@use "../../styles/responsive" as *;

.footer {
  width: 100%;
  border-top: 1px solid $color-border-soft;
  background: linear-gradient(90deg,
      $color-pastel-1,
      $color-pastel-2,
      $color-pastel-3,
      $color-pastel-4 );
  margin-top: auto;
}

.footerInner {
  max-width: $layout-max-width;
  margin: 0 auto;
  padding: 0.7rem $layout-padding;
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
  text-align: center;

  @include up-md {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
}

.textPrimary {
  font-size: 0.82rem;
  color: $color-text-main;
}

.textSecondary {
  font-size: 0.8rem;
  color: $color-text-muted;
}

.heart {
  display: inline-block;
  transform-origin: center;
  animation: heartBeat 1.2s ease-in-out infinite;
}

@keyframes heartBeat {

  0%,
  20%,
  60%,
  100% {
    transform: scale(1);
  }

  40% {
    transform: scale(1.18);
  }

  80% {
    transform: scale(0.95);
  }
}